html, body
{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .map
  {
    width: 100%;
    height: 100%;
  }

  .clock-container
  {
    position: absolute;
    right: 5px;
    bottom: 10px;
    z-index: 9999;
    font-size: 10vw;
    color: #FFFFFF;
    text-shadow: 0 0 8px #000000;
  }

  .weather-container
  {
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 9999;
    font-size: 4vw;
    color: #FFFFFF;
    text-shadow: 0 0 8px #000000;

    .city
    {
      font-size: 2vw;
    }

    img
    {
      filter: drop-shadow(1px 1px 3px #333333)
    }
  }
}